{% extends "base.html" %}

{% block title %} PRECOGx | Error {% endblock %}

{% block content %}
<section class="pt-8 py-0 home-margin" id="home" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row min-vh-xl-100 min-vh-xxl-25">
            <div class="col-md-75 col-xl-6 col-xxl-5  order-0 order-md-1 text-end py-4">
                <img class="pt-7 pt-md-0 center w-100 trans" src="static/img/icons/precogx.png" alt="Machine learning workflow" />
            </div>
            <div class="col-md-5 col-xl-6 col-xxl-7 text-md-start text-center py-4">
                <div class="col-md-12">
                  <p>
                  <h4>Your input raised an error. Please ensure if one or more of the followinng reasons is not the cause of this error:</h4>
                  </p>
                </div>
                <div class="col-12">
                  <p>
                  1. You may have entered an incorrect UniProt Accession/ID or Gene name? You can verify your input at <a href="https://www.uniprot.org/">UniProt</a>.
                  </p>
                  <p>
                  2. You may have entered the input in incorrect format. Please refer our <a href="/help">Help</a> page to know more about acceptable input formats.<br>
                  </p>
                  <p>
                  If you find neither of the above reasons to be the cause of this error in your case, please feel free to reach us at:
                  francesco <strong>[dot]</strong> raimondi <strong>[at]</strong> sns <strong>[dot]</strong> it.
                  </p>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>

<!-- <section> begin ============================-->
<section class="py-xxl-7" id="running">
    <div class="container">
        <div class="row py-11 justify-content-lg-evenly">
            <h1 class="fw-bold font-base fs-6 fs-xxl-7 text-center"> Running...</h1>
        </div>
    </div>
    <!-- end of .container-->
</section>
{%  endblock %}

{% block script %}
<script src="{{url_for('static', filename='/js/index.js')}}"></script>
{% endblock%}
