{% extends "base.html" %}

{% block title %} PRECOGx | Error {% endblock %}

{% block content %}
<section class="pt-8 py-0 home-margin" id="home" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row min-vh-xl-100 min-vh-xxl-25">
            <div class="col-md-75 col-xl-6 col-xxl-5  order-0 order-md-1 text-end py-4">
                <img class="pt-7 pt-md-0 center w-100 trans" src="/static/img/icons/precogx.png"
                     alt="Machine learning workflow"/>
            </div>
            <div class="col-md-5 col-xl-6 col-xxl-7 text-md-start text-center py-4">
                <div class="col-md-12">
                    <p>
                    <h4>The input has been permanently deleted or does not exist.</h4>
                    </p>
                </div>
                <div class="col-12">
                    <p>
                        Your results will be stored for one month, beyond which they will be permanently deleted.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{%  endblock %}
