{% extends "base.html" %}

{% block title %} PRECOGx | Help  {% endblock %}

{% block content %}
<section class="pt-xxl-10 pb-xxl-11 pb-10" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 order-lg-1 mb-5 mb-lg-0"></div>
            <div class="col-md-9 text-center text-md-start fs-1 mb-5">
                <h1 class="fw-bold mb-4">Under construction</h1>
                <p>Page under constructions!</p>
            </div>
        </div>
    </div>
</section>
<section class=" pb-xxl-9 pb-0" id="help">
</section>
{% endblock%}