{% extends "base.html" %}

{% block title %} PRECOGx | Home {% endblock %}


{% block script %}
<script src="{{url_for('static', filename='/js/index.js')}}"></script>

<script>
    if (navigator.appVersion.indexOf("Win")==-1){
    $('head').append('<link href="{{url_for('static', filename='/css/theme.css')}}" rel="stylesheet">');
} else if (navigator.appVersion.indexOf("Mac")!=-1){
    $('head').append('<link href="{{url_for('static', filename='/css/theme_windows.css')}}" rel="stylesheet">');
}  else {
    $('head').append('<link href="{{url_for('static', filename='/css/theme_windows.css')}}" rel="stylesheet">');
}

</script>
{% endblock%}

{% block content %}
<section class="py-xxl-7 home-margin" id="home" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row min-vh-xl-100 min-vh-xxl-25">
            <div class="col-md-75 col-xl-6 col-xxl-5  order-0 order-md-1 text-end py-4">
                <img class="pt-7 pt-md-0 center w-100" src="static/img/gallery/network_concept.png" alt="Deep network" />
            </div>
            <div class="col-md-5 col-xl-6 col-xxl-7 text-md-start text-center py-4">
                <h1 class="fw-light font-base fs-6 fs-xxl-7"><strong>PRECOGx</strong></h1>
                <p class="fs-1 mb-5 text-justify">
                    Delving deep into <strong>GPCR</strong> signaling mechanisms with <strong> protein embeddings</strong> (ESM-1b)
                </p>
                <form method="POST" action='/input'>
                <div class="col-md-12 mb-2">
                    <label class="form-label visually-hidden" for="validationTextarea"></label>
                    <textarea name="input" class="form-control form-livedoc-control" id="validationTextarea" placeholder="Paste/Upload Gene-symbol(s) or UniProt-ID(s) or FASTA sequence(s)&#10;Max. 15 inputs permitted" rows="10" required="required"></textarea>
                </div>
                <div class="col-md-12 row g-3">
                         <div class="col-auto">
                              <button class="btn btn-primary  btn-sm rounded-pill fs--1" id="submit" type="submit">Submit</button>
                              <label class="fs--1"></label>
                              <label class="fs--1"></label>
                             <label class="fs--1"></label>
                             <label class="fs--1"></label>
                              <label class="fs--1"></label>
                             <label class="fs--1"></label>
                              <label class="mb-8 fs--1">Examples</label>
                              <button class="btn btn-primary btn-sm rounded-pill fs--2" type="button" id="ex1">FASTA</button>
                              <button class="btn btn-primary btn-sm rounded-pill fs--2" type="button" id="ex2">UniProt Acc/ID</button>
                              <button class="btn btn-primary  btn-sm rounded-pill fs--2" type="button" id="ex3">Variants</button>
                              <button class="btn btn-primary  btn-sm rounded-pill fs--2" type="button" id="ex4">Oher/Adhesion GPCR</button>
                              <button class="btn btn-primary  btn-sm rounded-pill fs--2" type="button" id="ex5">GtoPdb nomenclature</button>
                        </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>


<!-- Cookie Banner -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
This website uses cookies to ensure you get the best experience on our website.
<a href="https://www.cookiesandyou.com/" target="blank">Learn more</a>
<button type="button" class="btn btn-primary btn-sm ms-3" onclick="hideCookieBanner()">
I Got It
</button>
</div>
<!-- End of Cookie Banner -->

<!-- <section> begin ============================-->
<section class="py-xxl-7" id="running">
    <div class="container">
        <div class="row py-11 justify-content-lg-evenly">
            <h1 class="fw-bold font-base fs-6 fs-xxl-7 text-center"> Running...</h1>
        </div>
    </div>
    <!-- end of .container-->
</section>
{%  endblock %}
