{% extends "base.html" %}

{% block title %} PRECOGx | Result | {{uniq_id|safe}} {% endblock %}

{% block head %}
<script src="{{url_for('static', filename='/js/sequence-viewer.bundle.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.colVis.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
<script src='https://unpkg.com/intro.js/minified/intro.min.js'></script>
<script src="{{url_for('static', filename='/js/dataT.js')}}"></script>
<script src="{{url_for('static', filename='/js/ngl.js')}}"></script>
<script src="{{url_for('static', filename='/js/structure.js')}}"></script>
<script src="{{url_for('static', filename='/js/sequence.js')}}"></script>
<script src="{{url_for('static', filename='/js/heatmap.js')}}"></script>
<script src="{{url_for('static', filename='/js/attentionmap.js')}}"></script>
<script src="{{url_for('static', filename='/js/pca.js')}}"></script>
<link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='/css/reset.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='/css/theme.css')}}" rel="stylesheet"/>
<script>
var selected_gpcr = '';

$(function(){
        $("#modalCoupling").load("/static/html/modals.html");
});

function loadIntro() {
            introJs().start();
};

    if (navigator.appVersion.indexOf("Win")==-1){
    $('head').append('<link href="{{url_for('static', filename='/css/theme.css')}}" rel="stylesheet">');
} else if (navigator.appVersion.indexOf("Mac")!=-1){
    $('head').append('<link href="{{url_for('static', filename='/css/theme_windows.css')}}" rel="stylesheet">');
}  else {
    $('head').append('<link href="{{url_for('static', filename='/css/theme_windows.css')}}" rel="stylesheet">');
}

</script>

{% endblock%}

{% block content %}
<section class="pt-8" id="result">
    <div class="container">

        <h1 class="fw-bold mb-4">Result
            <!--<button type="button" class="btn btn-info btn-md" onclick="loadIntro()">Need a quick intro?</button>-->
            <span class="btn btn-info btn-sm" onclick="loadIntro()">Need a quick intro?</span>
        </h1>

        <div class="row align-items-center mb-5">
            <div class="col-xl-12"
                 data-intro='This panel displays PRECOGx-predicted probabilites, and the information known about the input(s) in GtoPdb, TGF/GEMTA assays or STRING (for B-arrs).'
                 data-step="1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="header-title">Coupling probabilites
                            <span class="btn btn-info btn-sm" data-bs-toggle="modal"
                                  data-bs-target="#dataModal">?</span>
                        </h2>
                        <table id="example"
                               class="table display table-striped table-bordered stripe row-border order-column pb-2"
                               cellspacing="0" width="100%"></table>
                    </div>  <!-- end card body-->
                </div> <!-- end card -->
            </div>
        </div> <!--end row one-->



        <div class="row align-items-center">
        <!--
        This row has two columns: Conacts and Structure
        -->
            <!--
            Start Conacts (Sequence/Conacts map)
            -->
            <div class="col-xl-6 mb-2"
                 data-intro='This panel displays the predicted differential conctacts for a given transducer group.
                 Using the dropdown menu, one can select to view the contacts in 1D or 2D format.'
                 data-step="4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="header-title" id="panelHeading">Contacts
                            <span class="btn btn-info btn-sm" data-bs-toggle="modal"
                                  data-bs-target="#contactsModal">?</span>
                        </h2>
                        <div class="row g-3 align-items-center pb-5">
                          <!--start dropdown-->
                            <div class="col-auto">
                                <button type="button" id="displayName" class="btn btn-primary btn-sm dropdown-toggle"
                                        data-bs-toggle="dropdown";>
                                    Select display
                                </button>
                                 <ul id="displayList" class="dropdown-menu"></ul>
                            </div>
                            <!--end dropdown-->
                            <!--start sliders-->
                            <div class="col-auto" id="slider_log">
                                <label for="slider1A" class="col-form-label" style="font-weight: bold !important">Log
                                    odds score</label>
                                <button type="button" class="btn btn-info btn-circle" id="minus1A">-</button>
                                <input type="range" style="width: 4rem;vertical-align: middle;" class="form-range"
                                       min="0.0" max="1.0" step="0.1" value="0.2" id="slider1A">
                                <button type="button" class="btn btn-info btn-circle" id="plus1A">+</button>
                                <span id="slider1A_value">0.2</span>
                            </div>
                            <div class="col-auto" id="slider_dis">
                                <label for="slider1B" class="col-form-label">Distance</label>
                                <button type="button" class="btn btn-info btn-circle" id="minus1B">-</button>
                                <input type="range" style="width: 4rem;vertical-align: middle;" class="form-range"
                                       min="0" max="20" step="1" value="0" id="slider1B">
                                <button type="button" class="btn btn-info btn-circle" id="plus1B">+</button>
                                <span id="slider1B_value">0</span>
                            </div>
                            <!--end sliders-->
                        </div>
                        <!--Sequence-->
                        <div id="sequence-viewer"></div>
                        <!--Conacts map-->
                        <div id='myDiv'></div>
                        <!-- Plotly chart will be drawn inside this DIV -->
                        <!---
                        <div id='attentionMap' style="center"></div>
                        -->
                    </div><!-- end card body-->
                </div> <!-- end card -->
            </div> <!-- end Contacts -->

            <!--
            Start Structure
            -->
            <div class="col-xl-6 mb-2"
                 data-intro='This panel displays the predicted differential contacts for a transducer group mapped on a 3D structure of the input.' data-step="5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="header-title">Structure
                            <span class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#structureModal"
                                  data-intro='Click on help buttons to know more about each panel.'
                                  data-step="6">?</span>
                        </h2>
                          <div class="row g-3 align-items-center">
                             <div class="col-auto">
                             <button type="button" id="PDBbutton"
                                        class="btn btn-primary btn-sm dropdown-toggle fs--1" data-bs-toggle="dropdown"
                                        ;>
                                    PDB-ID
                                </button>
                                <ul id="pdblist" class="dropdown-menu"></ul>
                             </div>
                             <div class="col-auto">

                            <label for="PDBsource">PDB</label>
                            <input class="form-check-input" type="radio" id="PDBsource" name="3Dsource"
                                   onchange="click3Dsource(this)" checked>
                            <label for="AFsource">AlphaFold</label>
                            <input class="form-check-input" type="radio" id="AFsource" name="3Dsource"
                                   onchange="click3Dsource(this)">
                             </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="slider2A" class="col-form-label" style="font-weight: bold !important">Log
                                    odds score</label>
                                <button type="button" class="btn btn-info btn-circle" id="minus2A">-</button>
                                <input type="range" style="width: 8rem;vertical-align: middle;" class="form-range"
                                       min="0.0" max="1.0" step="0.1" value="0.2" id="slider2A">
                                <button type="button" class="btn btn-info btn-circle" id="plus2A">+</button>
                                <span id="slider2A_value">0.0</span>
                            </div>
                            <div class="col-auto">
                                <label for="slider2B" class="col-form-label">Distance</label>
                                <button type="button" class="btn btn-info btn-circle" id="minus2B">-</button>
                                <input type="range" style="width: 8rem;vertical-align: middle;" class="form-range"
                                       min="0" max="20" step="1" value="0" id="slider2B">
                                <button type="button" class="btn btn-info btn-circle" id="plus2B">+</button>
                                <span id="slider2B_value">0</span>
                            </div>
                        </div>
                        <div id="viewport" class="align-items-center fs--2 w-100"></div>
                    </div> <!-- end card body-->

                    <script>
                         // Function to reload structure panel if user selects different 3D strcture AFsource
                         // and insert in the pdblist ID
                         function click3Dsource(element){
                           //alert(element.name);
                           var selected_gpcr = $('#selected').data('gpcr');
                           var selected_gprotein = $('#selected').data('gprotein');
                           var slider2A_value = document.getElementById('slider2A_value').innerHTML;
                           var slider2B_value = document.getElementById('slider2B_value').innerHTML;
                           //var displayName = document.getElementById('displayName').innerHTML;
                           makeStructure(selected_gpcr, selected_gprotein, slider2A_value, slider2B_value, {{uniq_id|safe}});
                         }

                    </script>

                    <script>
                      //Update slider2 if changed
                         $(document).ready(function(){
                           var slider2A_value = document.getElementById('slider2A_value');
                           slider2A_value.innerHTML = $('#slider2A').val();
                         });
                           $(document).on('input', '#slider2A', function() {
                               $('#slider2A_value').html($(this).val() );
                               var slider2A_value = document.getElementById('slider2A_value').innerHTML;
                               var slider2B_value = document.getElementById('slider2B_value').innerHTML;
                               document.getElementById('slider1A_value').innerHTML = document.getElementById('slider2A_value').innerHTML;
                               var slider1A = document.getElementById('slider1A');
                               slider1A.value = slider2A_value;
                               var selected_gpcr = $('#selected').data('gpcr');
                               var selected_gprotein = $('#selected').data('gprotein');
                               var displayName = document.getElementById('displayName').innerHTML;

                               makeStructure(selected_gpcr, selected_gprotein, slider2A_value, slider2B_value, {{uniq_id|safe}});
                               makeHeatmap(slider2A_value, slider2B_value, selected_gpcr, selected_gprotein, displayName);
                               makeAttentionmap({{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName)
                               setDisplayMenu({{path_to_fasta|safe}}, slider2A_value, slider2B_value, {{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName);
                               makeSequence(selected_gpcr, {{path_to_fasta|safe}}, selected_gprotein, slider2A_value, slider2B_value, {{uniq_id|safe}}, displayName);
                               makePCA({{uniq_id|safe}}, 'TGF', '33', selected_gpcr, selected_gprotein);
                           });

                    </script>

                    <script>
                      //Change all sliders if any of the slider button us clicked
                        $("#minus1A").click(function(event) {
                          zoomA("out", "#slider1A", "#slider2A", "#slider3A");
                        });

                        $("#plus1A").click(function(event) {
                          zoomA("in", "#slider1A", "#slider2A", "#slider3A");
                        });

                        $("#minus1B").click(function(event) {
                          zoomB("out", "#slider1B", "#slider2B", "#slider3B");
                        });

                        $("#plus1B").click(function(event) {
                          zoomB("in", "#slider1B", "#slider2B", "#slider3B");
                        });

                        $("#minus2A").click(function(event) {
                          zoomA("out", "#slider2A", "#slider3A", "#slider1A");
                        });

                        $("#plus2A").click(function(event) {
                          zoomA("in", "#slider2A", "#slider3A", "#slider1A");
                        });

                        $("#minus2B").click(function(event) {
                          zoomB("out", "#slider2B", "#slider3B", "#slider1B");
                        });

                        $("#plus2B").click(function(event) {
                          zoomB("in", "#slider2B", "#slider3B", "#slider1B");
                        });

                        $("#minus3A").click(function(event) {
                          zoomA("out", "#slider3A", "#slider2A", "#slider1A");

                        });
                        $("#plus3A").click(function(event) {
                          zoomA("in", "#slider3A", "#slider2A", "#slider1A");
                        });

                        $("#minus3B").click(function(event) {
                          zoomB("out", "#slider3B", "#slider2B", "#slider1B");
                        });

                        $("#plus3B").click(function(event) {
                          zoomB("in", "#slider3B", "#slider2B", "#slider1B");
                        });

                        //Function to update slider A i.e. log-odds score
                        function zoomA(direction, slider, otherSlider1, otherSlider2) {
                          var slider = $(slider);
                          var step = 0.1;
                          var currentSliderValue = Number(slider.val());
                          //var newStepValue = currentSliderValue;
                          //alert(currentSliderValue);

                          if (direction === "out") {
                            var newStepValue = currentSliderValue - step;
                          } else {
                            var newStepValue = currentSliderValue + step;
                          }
                          newStepValue = Number(newStepValue.toFixed(1));
                          //alert(newStepValue);

                          slider.val(newStepValue).change();
                          //alert(slider.attr("id"));
                          var sliderValue = $("#"+slider.attr("id")+'_value');
                          sliderValue.html(newStepValue);

                          var otherSlider1 = $(otherSlider1);
                          otherSlider1.val(newStepValue).change();
                          var otherSlider1Value = $("#"+otherSlider1.attr("id")+'_value');
                          otherSlider1Value.html(newStepValue);

                          var otherSlider2 = $(otherSlider2);
                          otherSlider2.val(newStepValue).change();
                          var otherSlider2Value = $("#"+otherSlider2.attr("id")+'_value');
                          otherSlider2Value.html(newStepValue);

                          var slider_value = slider.val();
                          var selected_gpcr = $('#selected').data('gpcr');
                          var selected_gprotein = $('#selected').data('gprotein')
                          var slider1B_value = document.getElementById('slider1B_value').innerHTML;
                          var displayName = document.getElementById('displayName').innerHTML;

                          makeStructure(selected_gpcr, selected_gprotein, slider_value, slider1B_value, {{uniq_id|safe}});
                          makeHeatmap(slider_value, slider1B_value, selected_gpcr, selected_gprotein, displayName);
                          makeAttentionmap({{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName)
                          setDisplayMenu({{path_to_fasta|safe}}, slider_value, slider1B_value, {{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName);
                          makeSequence(selected_gpcr, {{path_to_fasta|safe}}, selected_gprotein, slider_value, slider1B_value, {{uniq_id|safe}}, displayName);
                          makePCA({{uniq_id|safe}}, 'TGF', '33', selected_gpcr, selected_gprotein);
                        };

                        //Function to update slider B i.e. distance
                        function zoomB(direction, slider, otherSlider1, otherSlider2) {
                          var slider = $(slider);
                          var step = 1;
                          var currentSliderValue = Number(slider.val());
                          //var newStepValue = currentSliderValue;
                          //alert(currentSliderValue);

                          if (direction === "out") {
                            var newStepValue = currentSliderValue - step;
                          } else {
                            var newStepValue = currentSliderValue + step;
                          }
                          newStepValue = Number(newStepValue.toFixed(1));
                          //alert(newStepValue);

                          slider.val(newStepValue).change();
                          //alert(slider.attr("id"));
                          var sliderValue = $("#"+slider.attr("id")+'_value');
                          sliderValue.html(newStepValue);

                          var otherSlider1 = $(otherSlider1);
                          otherSlider1.val(newStepValue).change();
                          var otherSlider1Value = $("#"+otherSlider1.attr("id")+'_value');
                          otherSlider1Value.html(newStepValue);

                          var otherSlider2 = $(otherSlider2);
                          otherSlider2.val(newStepValue).change();
                          var otherSlider2Value = $("#"+otherSlider2.attr("id")+'_value');
                          otherSlider2Value.html(newStepValue);

                          var slider_value = slider.val();
                          var selected_gpcr = $('#selected').data('gpcr');
                          var selected_gprotein = $('#selected').data('gprotein')
                          var slider1A_value = document.getElementById('slider1A_value').innerHTML;
                          var displayName = document.getElementById('displayName').innerHTML;

                          makeStructure(selected_gpcr, selected_gprotein, slider1A_value, slider_value, {{uniq_id|safe}});
                          makeHeatmap(slider1A_value, slider_value, selected_gpcr, selected_gprotein, displayName);
                          makeAttentionmap({{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName)
                          setDisplayMenu({{path_to_fasta|safe}}, slider1A_value, slider_value, {{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName);
                          makeSequence(selected_gpcr, {{path_to_fasta|safe}}, selected_gprotein, slider1A_value, slider_value, {{uniq_id|safe}}, displayName);
                          makePCA({{uniq_id|safe}}, 'TGF', '33', selected_gpcr, selected_gprotein);

                        };
                    </script>
                    <script>
                            /*
                            NGL.setMeasurementDefaultParams = {
                                 labelSize: 0.2
                               };
                              */
                            var stage = new NGL.Stage( "viewport" );
                            stage.setParameters( { backgroundColor: "white"} );

                    </script>


            </div> <!-- end card -->
        </div> <!-- end Structure -->
    </div><!--end row two-->

    <!--start row three-->
    <div class="row align-items-center">
        <!--PCA-->
        <div class="col-xl-6 mb-5" data-intro='This panel displays embeddings of all GPCRs mapped onto 2D space using PCA.' data-step="2">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title">PCA
                        <span class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#pcaModal">?</span>
                    </h2>
                    <div class="p-1 fs--3">
                        <div class="dropdown" id="labels">
                            <button type="button" id="AssayButton" class="btn btn-primary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" ;>
                                Assay
                            </button>
                            <ul id="AssayList" class="dropdown-menu">
                            </ul>
                            <button type="button" id="PCAButton" class="btn btn-primary  btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" ;>PCA
                            </button>
                            <ul id="PCAList" class="dropdown-menu"></ul>
                        </div>
                        <div id='myDiv2'><!-- Plotly chart will be drawn inside this DIV --></div>
                    </div>
                </div><!-- end card body-->
            </div> <!-- end card -->
        </div> <!-- end pca -->

        <!--Attention Map-->
        <div class="col-xl-6 mb-5"
             data-intro='This panel displays the attention map.'
             data-step="3">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title">Attention Map
                        <span class="btn btn-info btn-sm" data-bs-toggle="modal"
                              data-bs-target="#attentionMapModal">?</span>
                    </h2>
                    <!--
                    <div class="row g-3 align-items-center" id="slider1Div">
                        <div class="col-auto">
                            <label for="slider1A" class="col-form-label" style="font-weight: bold !important">Log
                                odds score</label>
                            <button type="button" class="btn btn-info btn-circle" id="minus1A">-</button>
                            <input type="range" style="width: 8rem;vertical-align: middle;" class="form-range"
                                   min="0.0" max="1.0" step="0.1" value="0.2" id="slider1A">
                            <button type="button" class="btn btn-info btn-circle" id="plus1A">+</button>
                            <span id="slider1A_value">0.0</span>
                        </div>
                        <div class="col-auto">
                            <label for="slider1B" class="col-form-label">Distance</label>
                            <button type="button" class="btn btn-info btn-circle" id="minus1B">-</button>
                            <input type="range" style="width: 8rem;vertical-align: middle;" class="form-range"
                                   min="0" max="20" step="1" value="0" id="slider1B">
                            <button type="button" class="btn btn-info btn-circle" id="plus1B">+</button>
                            <span id="slider1B_value">0</span>
                        </div>
                    </div>
                    -->
                    <div id='attentionMap' style="center"></div>
                    <!-- Plotly chart will be drawn inside this DIV -->
                    <!--
                    <div id='myDiv'>
                    </div>
                    -->


                    <!-- Update panels if slider is changed -->
                    <script>
                      $(document).ready(function(){
                        var slider1A_value = document.getElementById('slider1A_value');
                        slider1A_value.innerHTML = $('#slider1A').val();

                        var slider1B_value = document.getElementById('slider1B_value');
                        slider1B_value.innerHTML = $('#slider1B').val();
                      });

                      $(document).on('input', '#slider1A', function() {
                          $('#slider1A_value').html($(this).val() );
                          var slider1A_value = document.getElementById('slider1A_value').innerHTML;
                          var slider1B_value = document.getElementById('slider1B_value').innerHTML;
                          var displayName = document.getElementById('displayName').innerHTML
                          /* Slider 2A */
                          document.getElementById('slider2A_value').innerHTML = document.getElementById('slider1A_value').innerHTML;
                          var slider2A = document.getElementById('slider2A');
                          slider2A.value = slider1A_value;
                          slider3A.value = slider1A_value;

                          var selected_gpcr = $('#selected').data('gpcr');
                          var selected_gprotein = $('#selected').data('gprotein')
                          makeStructure(selected_gpcr, selected_gprotein, slider1A_value, slider1B_value, {{uniq_id|safe}});
                          makeHeatmap(slider1A_value, slider1B_value, selected_gpcr, selected_gprotein, displayName);
                          makeAttentionmap({{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName);
                          setDisplayMenu({{path_to_fasta|safe}}, slider1A_value, slider1B_value, {{uniq_id|safe}}, selected_gpcr, selected_gprotein, displayName);
                          makeSequence(selected_gpcr, {{path_to_fasta|safe}}, selected_gprotein, slider1A_value, slider1B_value, {{uniq_id|safe}}, displayName);
                          makePCA({{uniq_id|safe}}, 'TGF', '33', selected_gpcr, selected_gprotein);
                      });
                    </script>
                </div><!-- end card body-->
            </div> <!-- end card -->
        </div> <!-- end attention map -->
    </div> <!--end row three-->

    <div id="modalCoupling"></div>
</section>

<!-- Load the first input and GNA12 pair-->
<script>
  makeDatatable({{path_to_json_output|safe}}, {{path_to_fasta|safe}}, {{uniq_id|safe}}, {{gpcr_list|safe}}, {{first_gprotein|safe}}, {{first_gprotein_index|safe}})
  makeStructure({{first_entry|safe}}, {{first_gprotein|safe}}, 0.0, 0.0, {{uniq_id|safe}});
  makeSequence({{first_entry|safe}}, {{path_to_fasta|safe}}, {{first_gprotein|safe}}, 0.0, 0.0, {{uniq_id|safe}}, 'Sequence');
  makeHeatmap(0.0, 0.0, {{first_entry|safe}}, {{first_gprotein|safe}}, 'Sequence');
  makeAttentionmap({{uniq_id|safe}}, {{first_entry|safe}}, {{first_gprotein|safe}}, 'Sequence')
  setDisplayMenu({{path_to_fasta|safe}}, 0.0, 0.0, {{uniq_id|safe}}, {{first_entry|safe}}, {{first_gprotein|safe}}, 'Sequence');
  makePCA({{uniq_id|safe}}, 'TGF', '33', {{first_entry|safe}}, {{first_gprotein|safe}});

</script>

<!-- Load first GPCR and GNA12 -->
{% endblock%}
